.p-12
  .p-12.bg-white
    h4.my-8 Color Standard
    .flex.my-2.text-center
      .w-20.mr-8.text-left 色系
      .w-20.mr-8 Original
      .w-20.mr-8 dark (hover)
      .w-20.mr-8 light
      .w-20.mr-8 vr-light

    .flex.my-8.items-center
      .w-20.mr-8 primary
      .mr-8.w-20.h-20.bg-primary
      .mr-8.w-20.h-20.bg-primary-dark
      .mr-8.w-20.h-20.bg-primary-light
      .mr-8.w-20.h-20.bg-primary-vr-light

    .flex.my-8.items-center
      .w-20.mr-8 success
      .mr-8.w-20.h-20.bg-success
      .mr-8.w-20.h-20.bg-success-dark
      .mr-8.w-20.h-20.bg-success-light
      .mr-8.w-20.h-20.bg-success-vr-light

    .flex.my-8.items-center
      .w-20.mr-8 warning
      .mr-8.w-20.h-20.bg-warning
      .mr-8.w-20.h-20.bg-warning-dark
      .mr-8.w-20.h-20.bg-warning-light
      .mr-8.w-20.h-20.bg-warning-vr-light

    .flex.my-8.items-center
      .w-20.mr-8 danger
      .mr-8.w-20.h-20.bg-danger
      .mr-8.w-20.h-20.bg-danger-dark
      .mr-8.w-20.h-20.bg-danger-light
      .mr-8.w-20.h-20.bg-danger-vr-light

    .flex.my-8.items-center
      .w-20.mr-8 black/white
      .mr-8.w-20.h-20.bg-white.border
      .mr-8.w-20.h-20.bg-black

    .flex.my-8.text-center.whitespace-no-wrap
      .w-20.mr-8.mt-8.text-left gray
      .mr-8.w-20
        .h-20.bg-gray-100
        p gray-100
        small #bg-light
      .mr-8.w-20
        .h-20.bg-gray-200
        p gray-200
        small #line-vr-light
      .mr-8.w-20
        .h-20.bg-gray-300
        p gray-300
        small #bg-dark
      .mr-8.w-20
        .h-20.bg-gray-400
        p gray-400
        small #line-light
      .mr-8.w-20
        .h-20.bg-gray-500
        p gray-500
        small #very-light-blue
      .mr-8.w-20
        .h-20.bg-gray-600
        p gray-600
        small #ine-vr-dark<br>#light-periwinkle
      .mr-8.w-20
        .h-20.bg-gray-700
        p gray-700
        small #vr-light
      .mr-8.w-20
        .h-20.bg-gray-800
        p gray-800
        small #light
      .mr-8.w-20
        .h-20.bg-gray-900
        p gray-900
        small #dark

    hr.my-16.border-b

    h4.my-8 Button
    .my-4
      .my-1.mr-8 fill
      BaseButton(color="basic") basic (預設btn)
      BaseButton(color="primary") primary
      BaseButton(color="success") success
      BaseButton(color="warning") warning
      BaseButton(color="danger") danger

      .my-1.mr-8 fill disabled
      BaseButton(color="basic" disabled) basic (預設btn)
      BaseButton(color="primary" disabled) primary
      BaseButton(color="success" disabled) success
      BaseButton(color="warning" disabled) warning
      BaseButton(color="danger" disabled) danger

    .my-4
      .my-1.mr-8 outline w/background
      BaseButton(color="basic" pattern="flat") basic (預設色)
      BaseButton(color="primary" pattern="flat") primary
      BaseButton(color="success" pattern="flat") success
      BaseButton(color="warning" pattern="flat") warning
      BaseButton(color="danger" pattern="flat") danger

      .my-1.mr-8 outline w/background disabled
      BaseButton(color="basic" pattern="flat" disabled) basic (預設色)
      BaseButton(color="primary" pattern="flat" disabled) primary
      BaseButton(color="success" pattern="flat" disabled) success
      BaseButton(color="warning" pattern="flat" disabled) warning
      BaseButton(color="danger" pattern="flat" disabled) danger

    .my-4
      .my-1.mr-8 outline
      BaseButton(color="basic" pattern="outline") basic outline (預設色)
      BaseButton(color="primary" pattern="outline") primary outline
      BaseButton(color="success" pattern="outline") success outline
      BaseButton(color="warning" pattern="outline") warning outline
      BaseButton(color="danger" pattern="outline") danger outline

      .my-1.mr-8 outline disabled
      BaseButton(color="basic" pattern="outline" disabled) basic outline (預設色)
      BaseButton(color="primary" pattern="outline" disabled) primary outline
      BaseButton(color="success" pattern="outline" disabled) success outline
      BaseButton(color="warning" pattern="outline" disabled) warning outline
      BaseButton(color="danger" pattern="outline" disabled) danger outline

    .my-4
      .my-1.mr-8 純文字
      .inline-block.mr-4
        BaseButton(color="basic" pattern="text") basic(預設色)
      .inline-block.mr-4
        BaseButton(color="primary" pattern="text") primary
      .inline-block.mr-4
        BaseButton(color="success" pattern="text") success
      .inline-block.mr-4
        BaseButton(color="warning" pattern="text") warning
      .inline-block.mr-4
        BaseButton(color="danger" pattern="text") danger

    .my-4
      .my-1.mr-8 icon 加文字
      .inline-block.mr-4
        BaseButton(color="basic" pattern="text") 
          i.fab.fa-angellist(slot="icon" class="inline-block pr-2")
          template basic(預設色)
      .inline-block.mr-4
        BaseButton(color="primary" pattern="text")
          i.fab.fa-angellist(slot="icon" class="inline-block pr-2")
          template primary
      .inline-block.mr-4
        BaseButton(color="success" pattern="text") 
          i.fab.fa-angellist(slot="icon" class="inline-block pr-2")
          template success
      .inline-block.mr-4
        BaseButton(color="warning" pattern="text") 
          i.fab.fa-angellist(slot="icon" class="inline-block pr-2")
          template warning
      .inline-block.mr-4
        BaseButton(color="danger" pattern="text") 
          i.fab.fa-angellist(slot="icon" class="inline-block pr-2")
          template danger

    .my-4
      .my-1.mr-8 加載中
      BaseButton(color="primary") 加載前
      BaseButton(color="primary" loading) 加載中

    .my-4
      .my-1.mr-8 size
      BaseButton(color="primary" size="sm") 小按鈕 size="sm"
      BaseButton(color="primary" size="md") 中按鈕 size="md" (預設)
      BaseButton(color="primary" size="lg") 大按鈕 size="lg"

    .my-4
      .my-1.mr-8 block
      .p-4.border(class="w-1/2")
        BaseButton(color="primary" block) 滿版按鈕 block

    hr.my-16.border-b

    h4.my-8 Form
    .my-4.flex
      .py-4(class="w-2/5")
        h5.my-1.mr-8 normal
        .my-6
          p.mb-1 placeholder+autofocus
          baseInput(placeholder="請填入資訊" autofocus)
        .my-6
          p.mb-1 預設input
          baseInput(value="預設input")

        .my-6
          p.mb-1 primary
          baseInput(color="primary" value="primary")
        .my-6
          p.mb-1 success
          baseInput(color="success" value="success")
        .my-6
          p.mb-1 warning
          baseInput(color="warning" value="warning")
        .my-6
          p.mb-1 danger
          baseInput(color="danger" value="danger")


      .py-4.ml-16(class="w-2/5")
        h5.my-1.mr-8 disabled
        .my-6
          p.mb-1 select
          baseSelect(::options="selectOptionTemp" disabled)
        .my-6
          p.mb-1 預設input
          baseInput(value="預設input" disabled)
        .my-6
          p.mb-1 primary
          baseInput(color="primary" value="primary" disabled)
        .my-6
          p.mb-1 success
          baseInput(color="success" value="success" disabled)
        .my-6
          p.mb-1 warning
          baseInput(color="warning" value="warning" disabled)
        .my-6
          p.mb-1 danger
          baseInput(color="danger" value="danger" disabled)

    .my-8.flex
      .py-4(class="w-2/5")
        h5.my-1.mr-8 size
        .my-6
          p.mb-1 size="sm"
          baseInput(size="sm" value="小input (sm)")
          baseSelect.mt-2(size="sm" :options="selectOptionTemp")
        .my-6
          p.mb-1 size="md"
          baseInput(size="md" value="中input (md) 預設")
          baseSelect.mt-2(size="md" :options="selectOptionTemp")
        .my-6
          p.mb-1 size="lg"
          baseInput(size="lg" value="大input (lg)")
          baseSelect.mt-2(size="lg" :options="selectOptionTemp")

      .py-4.ml-16(class="w-2/5")
        h5.my-1.mr-8 textarea
        p.mt-6.mb-1 block
        BaseTextarea(rows="5" placeholder="請填寫")
        p.mt-4.mb-1 disabled
        BaseTextarea(rows="5" placeholder="不能填寫" disabled)
        p.mt-4.mb-1 inline
        BaseTextarea.w-32(size="sm" message="小 (sm)" placeholder="請填寫" inline)
        BaseTextarea.w-32(size="md" message="中 (md)" placeholder="請填寫" inline)
        BaseTextarea.w-32(size="lg" message="大 (lg)" placeholder="請填寫" inline)

    .my-8.flex
      .py-4(class="w-2/5")
        h5.my-1 radio
        label.mr-4 性別
        BaseRadio(name="gender" label="男" value="male" @change="changeGender")
        BaseRadio(name="gender" label="女" value="female" @change="changeGender")
        BaseRadio(name="gender" label="無 (disabled)" value="none" @change="changeGender" disabled)
        h5.mt-4.mb-1 radio block
        BaseRadio(name="options" label="111" value="aaa" @change="changeValue" block)
        BaseRadio(name="options" label="222" value="bbb" @change="changeValue" block)
        BaseRadio(name="options" label="無 (disabled)" value="none" @change="changeGender" disabled)

        h5.mt-8.mb-1 checkbox
        BaseCheckbox(name="checkboxName" label="選項1" value="check01" @change="changeCheckbox")
        BaseCheckbox(name="checkboxName" label="選項2" value="" @change="changeCheckbox")
        BaseCheckbox(name="checkboxName" label="無 (disabled)" value="" @change="changeCheckbox" disabled)
        h5.mt-4.mb-1 checkbox block
        BaseCheckbox(name="checkboxName2" label="選項1" value="check03" block)
        BaseCheckbox(name="checkboxName2" label="選項2" value="" block)
        BaseCheckbox(name="checkboxName2" label="無 (disabled)" value="" block disabled)

      .py-4.ml-16(class="w-2/5")
        h5.my-1 inline
        .my-6
          label.mr-4 姓名
          baseInput(value="someone" inline)
          baseInput(value="last name" inline)
          baseSelect(:options="selectOptions" @change="handleSelectChange" inline)
          baseButton(color="primary") send

        h5.mt-8 input number 計數器
        .my-6
          p 右版本
          BaseInputNumber.w-48(v-model="inputNum" controlsPosition="right" inline)
        .my-6
          p 預設
          BaseInputNumber.w-48(v-model="inputNum2" inline)
        .my-6
          p 最小值/最大值
          BaseInputNumber.w-48(v-model="inputNum3" min="0" max="10" inline)


    .my-8.flex
      .py-4(class="w-2/5")
        h5.my-1 錯誤提示
        .my-6.overflow-hidden
          baseInput(value="錯誤提示input" errorMessage="*此欄位為必填" :isError.sync="alertError")
          baseInput.mt-6(color="primary" value="primary input" :isError.sync="alertError")
          baseSelect.mt-6(
            :options="selectOptionTemp"
            :isError.sync="alertError"
            errorMessage="*此欄位為必填"
            )
          BaseTextarea.mt-6(message="錯誤提示" :isError.sync="alertError")

          BaseRadioGroup.mt-6(
            name="gender2"
            :options="radioOptions"
            :isError.sync="alertError"
            message="錯誤提示"
            )

          BaseCheckboxGroup.mt-6(
            name="gender3"
            :isError.sync="alertError"
            :options="checkboxOptions"
            )
          .float-right
            baseButton.mt-2(block @click="toggleError") 切換提示

      .py-4.ml-16(class="w-2/5")
        h5.my-1 icon 式 input
        .my-6
          BaseInput(iconClass="fal fa-calendar-alt")
          BaseInput.mt-2(iconClass="fal fa-search" iconPosition="right")


    hr.my-16.border-b

    //- .my-8
    h4.my-8 Modal
    BaseButton(color="primary" @click="SampleDialogVisibleSM = true") size=sm
    BaseButton(color="primary" @click="SampleDialogVisibleMD = true") size=md (預設)
    BaseButton(color="primary" @click="SampleDialogVisibleLG = true") size=lg
    BaseButton(color="primary" @click="SampleDialogVisibleClear = true") 無標頭標尾
    BaseButton(color="primary" @click="SampleDialogVisibleLong = true") 長文章
    br
    BaseButton(@click="SampleDialogVisibleMask = true") 無遮罩
    BaseButton(@click="SampleDialogVisibleModal = true") 不可點Ｍodal關閉
    BaseButton(@click="SampleDialogVisibleClose = true") 無叉叉

    //- 我是小跳窗
    component(
      is="DialogSm"
      v-if="SampleDialogVisibleSM"
      :dialogVisible.sync="SampleDialogVisibleSM"
    )

    //- 我是中跳窗
    components(
      is="DialogMd"
      v-if="SampleDialogVisibleMD"
      :dialogVisible.sync="SampleDialogVisibleMD"
    )

    //- 我是寬跳窗
    component(
      is="DialogLg"
      v-if="SampleDialogVisibleLG"
      :dialogVisible.sync="SampleDialogVisibleLG"
    )

    //- 無標頭標尾跳窗
    component(
      is="DialogClear"
      v-if="SampleDialogVisibleClear"
      :dialogVisible.sync="SampleDialogVisibleClear"
    )

    //- 我是長文章跳窗
    component(
      is="DialogLong"
      v-if="SampleDialogVisibleLong"
      :dialogVisible.sync="SampleDialogVisibleLong"
    )

    //- 無遮罩
    component(
      is="DialogHiddenMask"
      v-if="SampleDialogVisibleMask"
      :dialogVisible.sync="SampleDialogVisibleMask"
    )

    //- 不可點Ｍodal關閉
    component(
      is="DialogNotAllowClickModal"
      v-if="SampleDialogVisibleModal"
      :dialogVisible.sync="SampleDialogVisibleModal"
    )

    //- 無叉叉
    component(
      is="DialogHiddenClose"
      v-if="SampleDialogVisibleClose"
      :dialogVisible.sync="SampleDialogVisibleClose"
    )

    h4.my-8 Message
    BaseButton(@click="SampleMsg = true") 消息
    Message(v-if="SampleMsg" color="success" showClose) 這是一條提示
