.appDialog.fixed.inset-0.flex.items-center.justify-center.p-5
  .mask.fixed.inset-0.bg-black.opacity-50(
    v-if="mask"
    @click="handleWrapperClick"
  )
  .appDialog-cont.relative.max-w-full.max-h-full.bg-white.rounded.overflow-hidden.shadow-lg(
    :class="exportSize"
    :aria-label="title"
  )
    .appDialog-header.flex.items-center.justify-between.px-5.py-4.bg-gray-300.text-xl(
      v-if="this.title"
    )
      slot(name="title") {{ title }}
      //- slot(name="header")
      //- i.fal.fa-times.text-gray-800.cursor-pointer(
        class="hover:text-black"
        v-if="closeOnClickModal && showClose"
        @click="handleClose")
    .appDialog-body.p-5
      slot
      //- slot(name="modalBody")
    .appDialog-footer.py-1.px-5.border-t.border-gray-500.text-right(v-if="$slots.footer")
      slot(name="footer")
    i.fal.fa-times.text-gray-800.absolute.top-0.right-0.p-3.leading-none.cursor-pointer(
      class="hover:text-black"
      v-if="closeOnClickModal && showClose"
      @click="handleClose"
      aria-label="close"
    )
