.baseInputNumber.relative(
  :class="[exportDisplay, exportControlsPosition, exportTxtSize]"
  @click.stop="stopClickPropagation"
  )
  input.block.w-full.truncate.text-center.text-black.bg-white.outline-none.border.rounded.appearance-none.leading-normal(
    class="disabled:cursor-not-allowed"
    :class="[exportClass, exportSize, exportError]"
    type="tel"
    v-bind="$attrs"
    :value="currentValue"
    :min="min"
    :max="max"
    @change="handleChange"
    )
  //- BaseInput(type="tel" v-bind="$attrs")
  .baseInputNumber-iconWrap(
    class="text-sm border-gray-600 rounded-r bg-white"
    v-if="controlsPosition === 'right'"
    )
    button.baseInputNumber-plus(
      class="text-gray-900 bg-transparent hover:text-primary disabled:text-gray-700 disabled:bg-gray-300 disabled:cursor-not-allowed"
      @click.stop="increase"
      :disabled="isMaxDisabled"
      )
      .fal.fa-angle-up
    button.baseInputNumber-minus(
      class="text-gray-900 bg-transparent border-t border-gray-600 hover:text-primary disabled:text-gray-700 disabled:bg-gray-300 disabled:cursor-not-allowed"
      @click.stop="decrease"
      :disabled="isMinDisabled"
      )
      .fal.fa-angle-down

  button.baseInputNumber-minus(
    class="fas fa-minus text-gray-900 border-gray-600 border-r rounded-l hover:text-primary disabled:text-gray-700 disabled:bg-gray-300 disabled:cursor-not-allowed"
    v-if="controlsPosition === 'between'"
    @click.stop="decrease"
    :disabled="isMinDisabled"
    )
  button.baseInputNumber-plus(
    class="fas fa-plus text-gray-900 border-gray-600 border-l rounded-r hover:text-primary disabled:text-gray-700 disabled:bg-gray-300 disabled:cursor-not-allowed"
    v-if="controlsPosition === 'between'"
    @click.stop="increase"
    :disabled="isMaxDisabled"
    )
  .absolute.mt-1.ml-px.text-xs.text-danger.leading-tight(v-if="isError") {{ errorMessage }}
